@keyframes itemAnim {
   from {scale: 0.8;}
   to {scale: 1;} 
  }

  @keyframes HeartAnim {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes spinspanAnim {
    from{font-size: 1em}
    to{font-size: 1.75em}
  }
  @keyframes spinAnim {
    0% {
        opacity: 1;
      }
      10% {
        opacity: 0.99;
      }
      80% {
        opacity: 0.60;
      }
    100% {
        opacity: 0;
        z-index: 100;
      }
  }