header {
    margin: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    position: relative;
    padding: 25px;  
.header__logo {
    margin: 0;
    font-family: Shrikhand,"cursive";
    text-align: center;
    }
}   